<!DOCTYPE html>
<html>

  <head>
    <title>Welcome Local Page</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👀</text></svg>">
    <%= stylesheet_link_tag "application.css" %>
  </head>

  <body>

    <div class="welcome-resources">

      <div class="welcome-phrase">

        <p>
          <%= @welcome_text %>
        </p>

      </div>

      <div class="resources">
        
        <% @local_resources.each do |resource| %>
          <% image_exists = resource['image'] != '' %>
          <% image_src = image_exists ? resource['image'] : asset_path('resource-image-empty.svg') %>

          <div class="resource">

            <%= image_tag(image_src) %>

            <div class="resource-texts">
              <p class="resource-name">
                <%= resource['name'] %>
              </p>

              <p class="resource-server-name">
                <%= resource['server_name'] %>
              </p>

              <p class="resource-url">
                <a href="<%= resource['url'] %>">
                  <%= resource['url'] %>
                </a>
              </p>
            </div>

          </div>
        <% end %>

      </div>

    </div>

  </body>

</html>
